includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 3  # More strict - will find more issues
    paths:
        - app/Models
        - app/Http/Controllers
        - app/Services
        - app/Http/Requests  # Add more folders
        - app/Http/Middleware  # Add more folders
        - app/Filament  # Add more folders

    
    ignoreErrors:
        # Laravel magic methods
        - '#Call to an undefined method.*::(hasRole|assignRole|createToken|tokens)#'
        - '#Call to an undefined method Illuminate\\.*#'
        # Filament magic
        - '#.*Filament.*#'