includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database/factories
    
    level: 6
    
    ignoreErrors:
        - '#PHPDoc tag @var#'
    
    excludePaths:
        - app/Providers/TelescopeServiceProvider.php
        - cache
        - bootstrap/cache
        - storage
        - vendor
    
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
    databaseMigrationsPath:
        - database/migrations